.text{
    letter-spacing: 15px; /* расстояние между буквами */
    text-decoration: underline; /* декорация текста, подчеркнутый, зачеркнутный и т.д */
} 
.block{
    text-indent: 25px; /* размер красной стровки */
}